<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haust.mapper.UserMapper">
    <insert id="insert" parameterType="com.haust.domain.po.User" keyProperty="id">
        insert into user (account,password) values (#{account},#{password})
    </insert>

    <select id="selectById" resultType="com.haust.domain.po.User"
            parameterType="com.haust.domain.dto.AccountDTO">
        select id,account,password,role from user where account = #{account}
    </select>
</mapper>